* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  color: #1a365d;
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
}

.title {
  font-size: 15px;
  color: #082143;
  margin-bottom: 5px;
  font-weight: 600;
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: #1a365d;
}

.card:hover {
  border-color: #1a365d;
  box-shadow: 0px 15px 30px 5px #1a365d 5px;
  transform: translateY(-5px);
}

.number.interview {
  color: #059669;
}
.number.rejected {
  color: #dc2626;
}
.job_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.job_section h2 {
  font-size: 18px;
  color: #1a365d;
}

.jobcount {
  color: #64748b;
  font-size: 14px;
}